body {
  margin: 0;
}
header {
  justify-content: space-between;
  background-color: #555;
  display: flex;
}
nav a {
  float: left;
  text-align: center;
  padding: 25px 10px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  background-color: rgba(158, 219, 255, 0.87);
  transition:0.5s;
  box-shadow: 0px 0px 5px color(srgb red rgb(253, 109, 109) rgba(249, 90, 255, 0.493));
  size: 15px 15px;
  filter:drop-shadow(grey);
  scale:105%;
}
.banner {
  padding: 10px;
  text-decoration: none;
  transition: 0.3s;
  float: left;
  color: rgb(233, 46, 177);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: beige;
  width: 100%;
}
nav a {
  padding: 10px;
  text-decoration: none;
  color: rgb(22, 162, 167);
  float: right;
}

img {
  height: 60px;
  padding: 10px;
  float: right;
}
